.resetPassword
    .contBox
        .mainBox
            .basicDiv
                label.label 原&nbsp始&nbsp密&nbsp码:
                input.selectP(max-input="50" type="password" placeholder="请输入原始密码" ng-model="oldPassword")
            .basicDiv()
                label.label 新&nbsp&nbsp&nbsp密&nbsp&nbsp&nbsp码:
                input.selectP(max-input="50" type="password" placeholder="请输入新密码" ng-model="newPassword" )
            .basicDiv()
                label.label 重复新密码:
                input.selectP(max-input="50" type="password" placeholder="请再次输入新密码" ng-model="newPassword1" )

            .basicDiv.selectBigBox.bootomBtn
                span(ng-bind="str")
                button.btn.success(ng-click="reset()") 保存
